*{
	padding: 0;
	margin: 0;
	/*box-sizing: border-box;*/
}

body{
    font-family: 'Poppins', sans-serif;
    /*overflow: hidden;*/
    /*background-color: #000000*/
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.2'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231b1a1b' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23302e2f' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23474344' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%235e595a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23777072' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/
}
.home{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -5;
	width: 100%;
	/*opacity: 0.1;*/
	/*background-position: center;
  	background-repeat: no-repeat;*/
  	background-size: cover;
  	background-color: #000000;
/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.2'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231b1a1b' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23302e2f' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23474344' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%235e595a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23777072' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/

}
h3, h1
{
color: #DCAAC0;
}
/*select{
	background-color: #fefefe; 
  border-radius: 20px;
  color: #2e2e2e;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.0rem;
  font-family: 'poppins', sans-serif;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}
*/
/*.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}*/

/*.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}*/

.img img{
	width: 500px;
}

/*form{
	width: 360px;
}*/

/*.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 2.9rem;
}
.login-content h3{
	margin: 15px 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.9rem;
}
*/
/*.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}*/
.avish img
{
width:50px;
height:50px;
}
.bot img
{
width:300px;
height:300px;
}
/*.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}*/

/*.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}*/

/*.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #DCAAC0;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}*/

/*.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #DCAAC0;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'poppins', sans-se*//*rif;*/
}

/*.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}
.register
{
color: #999;
	font-size: 0.9rem;
}
.register a{
	display: inline;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}*/

a:hover{
	color: #DCAAC0;
}

/*.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #DCAAC0, #DCAAC0, #DCAAC0);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	
}
.btn:hover{
	background-position: right;
}*/
.btn1{
	display: table-cell;
	/*float: left;*/
	width: 20%;
	height: 20%;
	border-radius: 55px;
	/*padding: 0px;*/
	outline: none;
	border: none;
	background-size: 10px;
	font-size: 1.2rem;
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	/*margin: 0.0rem ;*/
	cursor: pointer;
	transition: .5s;
	text-align: center;
	align-self: center;

}
.box
{
	align-self: center;
	width: 520px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}