*{
	background-color: #2e2e2e;
	font-family: "poppins", cursive, sans-serif;
  font-weight: bold;
  
}
h1{
	color:#dcaac0;
	font-size:54px;
    text-align: center;
    
    top:50px;
}

h3{
  color:#dcaac0;
}
h2{
  color:#dcaac0;
}
a {color:#dcaac0;font-family: "poppins", cursive, sans-serif;
  font-weight: bold;}