<!DOCTYPE html>
<html>
<head>

<title> QUESTION PAPER</title>
</head>
<body>
	<h1>2016 QUESTION PAPER</h1>
	<h2>Section A</h2>
	<h2>Prose</h2>
	<h2>choose the following (3 x 1 = 3)</h2>
<h3>1. Don Anselmo did not sell the trees.</h3>
<h3>Why did he do so ?</h3>
<h4>(A) Trees were like children to him</h4>
<h4>(B) Trees were grown for the children of next generation</h4>
<h4>(C) He thought they did not belong to him but to the children of
Rio-en-medio</h4>
<h4>(D) He had grown them in memory of his ancestors.</h4>
<h3>2. “A good sailor knows his place,” says Columbus to Diego. The
statement is</h3>
<h4>(A) a piece of advice</h4>
<h4>(B) an indirect command</h4>
<h4>(C) a statement</h4>
<h4>(D) a request.</h4>
<h3>3. The three super powers were willing to</h3>
<h4>(A) put a ban on nuclear weapon test</h4>
<h4>(B) destroy nuclear weapon</h4>
<h4>(C) use nuclear weapon</h4>
<h4>(D) sell nuclear weapon to other countries.</h4>
<h2>II. Answer the following questions in 2 - 3 sentences each : 4 x 2 = 8</h2>
<h3>4. Don Anselmo had concern for the children of Rio-en-medio. Explain
briefly.</h3>
<h3>5. How can you say that Anant was a talented boy ?</h3>
<h3>6. How did Smitha fulfil her brother‟s wish ?</h3>
<h3>7. Who can best ensure our safety in the world ? How ?</h3>
<h2>III. Answer the following question in about 8 - 10 sentences : 1 x 4 = 4</h2>
<h3>8. Satish met with an accident which changed his destiny. Explain.</h3>
<h3>OR</h3>
<h3>Narrate Swami‟s dreadful experience when he was lying under the
bench.</h3>
<h2>IV. Read the following extracts and answer the questions that follow :
3 x 3 = 9</h2>
<h3>9. “There‟s a closer place I know of,”</h3>
<h4>(a) Who is the speaker of the above statement ?</h4>
<h4>(b) Why did he choose that place ?</h4>
<h4>(c) What happened after going to that place ?<h4>
<h3>10. “This is tough going !”</h3>
<h4>(a) For whom was it tough going ?</h4>
<h4>(b) Why was he going there ?</h4>
<h4>(c) What made him tough ?</h4>
<h3>11. Why should one man have the lives of fifty in his hands ?</h3>
<h4>(a) Who is the speaker here ?</h4>
<h4>(b) Who does „one man‟ refer to ?</h4>
<h4>(c) What does he mean by this statement ?<h4>
<h2>Poetry</h2>
<h2>V. Choose the most appropriate one and write the complete answer with the
letter of alphabet in the space provided : 1</h2>
<h3>12. “You cannot put a fence, around the planet earth.”
Here, expression of the speaker is</h3>
<h4>(A) self assertion (B) weakness</h4>
<h4>(C) proud (D) suffocation.</h4>
<h2>VI. Answer the following in two or three sentences each : 2 x 2 = 4</h2>
<h3>13. The poet advises us to laugh and be merry. Support your answer
with two examples.</h3>
<h3>14. “You can start the Count Down ; you can take a last look ;
You can cross out my name from the telephone book.”</h3>
<h3>What could be the reason for the space traveller to have such a
feeling ?</h3>
<h2>VII. Read the extract and answer the questions that follow : 3 x 1 = 3</h2>
<h3>15. “And earthly power doth then show likest God‟s
When mercy seasons justice.”</h3>
<h4>(a) When does earthly power becomes like divine power ?</h4>
<h4>(b) How should the king‟s judgement be ?</h4>
<h4>(c) What happens when mercy seasons justice ?</h4>
<h2>VIII. 16. Quote from memory : 4<h2>
<h3>“T is a fearful ..............................................................</h3>
<h3>....................................................................................</h3>
<h3>....................................................................................</h3>
<h3>........................................................................... mast.”</h3>
<h3>OR</h3>
<h3>You talk .......................................................................</h3>
<h3>....................................................................................</h3>
<h3>....................................................................................</h3>
<h3>........................................................................... night ?</h3>
<h2>IX. Answer the following question in 8 to 10 sentences : 1 x 4 = 4</h2>
<h3>17. Summarize in your own words the substance of the poem “Grandma
Climbs a Tree”.</h3>
<h3>OR</h3>
<h3>Describe the physical appearance of the Jazz player.</h3>
<h2>Supplementary Reading</h2>
<h2>X. Answer the following questions in two or three sentences each : 2 x 2 = 4</h2>
<h3>18. How was the student‟s marching an unusual march ?</h3>
<h3>OR</h3>
<h3>What can we learn from Dolma‟s life ?</h3>
<h3>19. Dr. B. R. Ambedkar was a voracious reader. Explain.</h3>
<h3>OR</h3>
<h3>The absence of mother from home taught the children something.</h3>
<h3>What was that ?</h3>
<h2>Vocabulary</h2>
<h2>XI. 20. Combine the word in Column-A with its collocative word in
Column-B : 1</h2>
<h3>Column-A</h3>
<h3>lay</h3>
<h3>Column-B</h3>
<h3> [ attention, emphasis, notice, order ]</h3>
<h2>21. Fill in the blank with the suitable word given in brackets : 1</h2>
<h3>Mr. Lokesh is the ................................... of our college.</h3>
<h3>( principle / principal )</h3>
<h2>22. Fill in the blank with the opposite word by adding prefix to the word
italicized : 1</h2>
<h3>Raju is regular to school but his friend Raheem is ...................... .</h3>
<h2>23. Which one of the following words has one syllable ? Write it in the
space provided : 1</h2>
<h3>Enemy, Supreme, School, Beauty.</h3>
<h2>SECTION – B</h2>
<h2>Reading</h2>
<h2>XII. Read the following passage and answer the questions that follow :
4 x 1 = 4</h2>
<h3>George Washington was the first President of the United States of America.
He was born over two hundred years ago in the state of Virginia on
February 22. When George was a boy, he had lots of fun exploring the
woods and forests near his home.</h3>
<h3>He enjoyed hunting, boating, and fishing. He lived on a farm and helped
his father with the chores that needed to be done. George went to school
until he was 14 years old. His favourite subject was Mathematics. George
was good, quiet boy who got along well with others.</h3>
<h3>George grew up to be a tall and strong man. He joined the military. He was
a great leader and helped with many battles. He is best remembered as a
leader of the continental army. He helped the Americans win the
revolutionary war against Great Britain for independence.</h3>
<h4>24. What did George enjoy doing ?</h4>
<h4>25. Why is George best remembered ?</h4>
<h4>26. How did he help the Americans ?</h4>
<h4>27. Young George was fun exploring. How ?</h4>
<h2>XIII. Read the following conversation and answer the questions that follow :</h2>
<h3>Suma : Hello, may I speak to Anitha ?</h3>
<h3>Asha : Anitha is not at home, may I know who is speaking ?</h3>
<h3>Suma : I am Suma, Anitha‟s classmate. Please tell her to meet</h3>
<h3>me near the central library at 6 P.M.</h3>
<h4>28. What message has Suma left for Anitha ? 1</h4>
<h4>29. Which word in the given conversation means „a place where books
are available for people to use or borrow‟ ? 1</h4>
<h4>30. Look at the two pictures, write a sentence using „brighter than‟
based on what you see ? 1</h4>
<h2>31. Rearrange the jumbled words into a meaningful sentence : 1</h2>
<h3>sight / what / beautiful / a / ! / it / is /</h3>

<h2>Writing</h2>
<h3>32. Imagine you are Radha / Rakesh studying in Xth Standard, Govt.
High School, Bijapur. Write a letter to your father about your
preparation for the external examination. 4</h3>
<h3>OR</h3>
<h3>Write a letter to the General Manager of KMF Dairy, Shivamoga,
requesting permission to visit the Dairy.</h3>
<h2>33. Given below is a profile of P. T. Usha. Write a paragraph using the
clues given below : 4</h2>
<h3>Born : 27th June, 1964</h3>
<h3>Nationality : Indian</h3>
<h3>Other names : Payyoli Express, Golden Girl</h3>
<h3>Known for : Track and field athlete</h3>
<h3>Employed : Indian Railways</h3>
<h3>Awards : Padmashree</h3>
<h3>OR</h3>
<h3>Write a paragraph using the clues given below. You may add some
points if necessary :</h3>
<h3>An Ant ........................................... pond.....................................</h3>
<h3>get out of the pond-drown ..........................................................</h3>
<h3>A dove ..........................................................</h3>
<h3>......................... ant drowning ................ help</h3>
<h3>the dove ...................... dropped ................ leaf</h3>
<h3>........................ climbed the leaf .....................</h3>
<h3>saved.</h3>
<h3>Just then a hunter ...........................................</h3>
<h3>....................... wished .................. dove ............</h3>
<h3>bit his leg ................................. dropped the net.</h3>
<h3>............................................................. saved.</h3>

<h2>Editing</h2>
<h2>34. The following paragraph has two errors. Edit the paragraph and
rewrite the paragraph in the space provided. Clues are given. 2</h2>
<h3>Last Sunday, jacky and I went to the beach. When we arrived, we
thought it was going to rained. Luckily, the sky cleared up.
Clues :</h3>
<h4>(a) Use capital letters wherever necessary</h4>
<h4>(b) Verbal mistake to be corrected.</h4>
<h2>GRAMMAR ( Language Use )</h2>
<h2>35. Read the conversation : 1</h2>
<h3>Ram : Mummy, where is Shobha and Meera ?</h3>
<h3>Mother : They are playing chess.</h3>
<h3>The passive form of the italicized sentence is</h3>
<h4>(A) Chess has been playing by them.</h4>
<h4>(B) Chess was being played by them.</h4>
<h4>(C) Chess is being played by them.</h4>
<h4>(D) Chess had been played by them.</h4>
<h2>36. Read the conversation and choose the language function of the
italicized sentence : 1</h2>
<h3>Class teacher : Who will tell a story ?</h3>
<h3>Students : Sir, Geetha.</h3>
<h3>Class teacher : Geetha, please tell a story.</h3>
<h4>(A) Order (B) Request</h4>
<h4>(C) Obey (D) Advice.</h4>
<h2>37. Read the conversation :</h2>
<h3>Philip : Good morning John. How are you ?</h3>
<h3>John : Very good morning. I‟am fine, thank you.</h3>
<h3>Philip : Where are you going ?</h3>
<h3>John : I am going to medical store to bring medicines.</h3>
<h3>Which one of the following is infinitive ? 1</h3>
<h4>(A) going (B) am</h4>
<h4>(C) to bring (D) going to.</h4>
<h2>38. Read the following conversation and rewrite into a reported speech :
2</h2>
<h3>Raju : Shabil, how are you ?</h3>
<h3>Shabil : I‟m fine, thank you. How about you ?</h3>
<h3>Raju : Fine, thank you Shabil.</h3>
<h3>I would like to go abroad. I need your help to</h3>
<h3>get a passport. Will you please help me ?</h3>
<h3>Shabil : Yes, I will help you.</h3>
<h3>Ans :</h3>
<h3>Raju and Shabil greeted each other.</h3>
<h3>Raju requested Shabil</h3>
<h3>Shabil replied</h3>
<h3>39. Satish is not interested in music, 1</h3>
<h3>The question tag to be used above is</h3>
<h4>(A) isn‟t he ? (B) hasn‟t he ?</h4>
<h4>(C) is he ? (D) has he ?</h4>
<h2>40. Fill in the blanks with appropriate preposition and article:</h2>
<h3>Raghu is ....................... intelligent boy. He is studying ....................</h3>
<h2>41. Fill in the blanks using the appropriate linking words given in
brackets : 1</h2>
<h3>Sham is an engineer. He earns a lot of money, .................... doesn‟t
save, ...................... his wife is upset. ( and, so, because, but )</h3>

<h2>42. Fill in the blanks choosing the right form of verbs given in
brackets : 2</h2>
<h3>Janaki is my friend. She ........................ ( be + work ) in a bank.</h3>
<h3>Everyday she ............................ ( go ) to the bank at 9·30 A.M. by</h3>
<h3>bus.</h3>
<h2>Reference Skill</h2>
<h2>43. Arrange the following words in the order in which they are in
dictionary : 4 x 1/2 =2</h2>
<h3>altitude, attitude, alternate, aptitude.</h3>
<h2>44. Write it in the normal way : 1</h2>
<h3>Try it jst 1s again.</h3>
<h2>45. Which source of information would you refer to know the synonym
of „happiness‟ ? 1</h2>
<h3>( Choose one of the following )</h3>
<h3>Thesaurus, atlas, magazine, encyclopaedia.</h3>
</body>
</html>