<!DOCTYPE html>
<html>
<head>

<title> QUESTION PAPER</title>
</head>
<body>
<h1>2017 QUESTION PAPER</h1>
<h2> section A</h2>
<h2>Prose</h2>
<h2>Choose the following (5 x 1 =5)</h2>
<h3>1. Who was Baleshwar ?</h3>
 <h3>Baleshwar was</h3>
<h4>(A) a graduate (B) an high school dropout</h4>
<h4>(C) a postgraduate (D) an illiterate</h4>
<h3>2. It took months of negotiation to come to an understanding with Don
Anselmo to sell his land because</h3>
<h4>(A) he was not in the station for many days</h4>
<h4>(B) he was in no hurry to sell his land</h4>
<h4>(C) he thought to sell his land for his own people</h4>
<h4>(D) it was not measured properly</h4>
<h3>3. When the second monster blew through his beard, Wangjia lost his</h3>
 <h4>(A) shoes (B) eyesight</h4>
 <h4>(C) food (D) memory</h4>
<h3>4. Who did Smitha go to the concert with ?</h3>
 <h3>Smitha went to the concert with</h3>
<h4>(A) her father (B) her aunty Sushila</h4>
<h4>(C) her mother (D) her brother Anant</h4>
<h3>5. Where did the technical experts from the Soviet Union, United States and</h3>
<h3>United Kingdom meet to discuss about Nuclear Test Ban ?</h3>
<h4>(A) New York (B) London</h4>
<h4>(C) Moscow (D) Geneva</h4>
<h2>II. Answer the following questions in 2 - 3 sentences each : 6 × 2 = 12</h2>
<h3>6. Why did Swami’s father want him to sleep alone in the office room ?</h3>
<h3>7. Though Swami was not courageous, he became a hero overnight. How ?</h3>
<h3>8. Don Anselmo was passionate about his land and the children of Rio-enMedio. Support this statement with your answer.</h3>
<h3>9. Why was the story teller unable to convince the old man about the trees ?</h3>
<h3>10. Give a short description of the bird that Satish saw one day.</h3>
<h3>11. Scientists are the most practical people in the world. Justify the statement.</h3>
<h2>III. Read the following extracts and answer the questions that follow : 4 × 3 = 12</h2>
<h3>12. “The trees in the orchard are not mine.”</h3>
<h4> (a) Who does ‘mine’ refer to ?</h4>
 <h4>(b) When did he say so ?</h4>
 <h4>(c) What does this statement tell us about his character ?</h4>
<h3>13. “Whom can ‘I’ call ? He asked quickly, fearing that she would black out
once more.”</h3>
 <h4>(a) Who does ‘I’ refer to ?</h4>
 <h4>(b) What did the listener answer ?</h4>
 <h4>(c) What do you mean by ‘black out’ here ?</h4>
<h3>14. “What reckless fool has dared to come here ?” he thundered.</h3>
 <h4>(a) Who thundered like this ?</h4>
 <h4>(b) According to the speaker, who was reckless fool ?</h4>
 <h4>(c) What was the answer given for this question ?</h4> 
<h3>15. “Little girl, said the moustachioed man who had made the long speech.</h3>
<h3>Panditji is a busy man, you must not bother him with such requests.”</h3>
 <h4>(a) Who is the moustachioed man ?</h4>
 <h4>(b) Who does ‘you’ refer to ?</h4>
 <h4>(c) Why did the listener come there ?</h4>
<h2>IV. Answer the following question in about 8 - 10 sentences : 4 x 1 =4 </h2>
<h3>16. Give some instances to show that Pepe was loyal to Columbus till the end.</h3>
<h3>OR</h3>
 <h3>How can you say that Satish became popular all over the world ?</h3>
<h2>Poetry</h2>
<h2>V. Choose the most appropriate one and write the complete answer with the letter of
alphabet in the answer-book : 3 × 1 = 3</h2>
<h3>17. In the poem ‘I Am the Land’, ‘I wait’ is used several times. Here the poet
feels that</h3>
 <h4>(A) the land has patience</h4>
 <h4>(B) the land warns human beings</h4>
 <h4>(C) the land feels proud of its resources</h4>
 <h4>(D) the land waits to see its future disasters.</h4>
<h3>18. The tone of the poem ‘Laugh and be Merry’ is</h3>
 <h4>(A) optimistic (B) pessimistic</h4>
 <h4>(C) enthusiastic (D) agonistic.</h4>
<h3>19. His run down shoes have paper in them. This suggests that the Jazz player
was</h3>
 <h4>(A) poor (B) simple</h4>
 <h4>(C) mad (D) ordinary man.</h4>
<h2>VI. Answer the following questions in 2 - 3 sentences each : 4 × 2 = 8</h2>
<h3>20. How is man over using the land ?</h3>
<h3>21. The poet John Masefield feels that the laughter not only makes us happy
but will better the world also. How do you justify this ?</h3>
<h3>22. What is the message of the poem, “The Blind Boy” ?</h3>
<h3>23. According to the poet ‘Normal Nicholson’ outer space is solitary
confinement for him. Why ?</h3>
<h2>VII. Read the extract and answer the questions that follow : 3 × 1 = 3</h2>
<h3>24. “The quality of mercy is not strain’d</h3>
 <h3>It droppeth as the gentle rain from heaven.”</h3>
 <h4>(a) What is ‘mercy’ compared to ?</h4>
 <h4>(b) Why does the poet say that mercy is not strain’d ?</h4>
 <h4>(c) What is the meaning of the word ‘strain’d’ in this context ?</h4>
<h2>VIII. 25. Quote from memory : </h2>
 <h3>We were .....................................................................</h3>
 <h3>....................................................................................</h3>
 <h3>....................................................................................</h3>
 <h3>....................................................................... the deep.”</h3>
<h3>OR</h3>
 <h3>My day .......................................................................</h3>
 <h3>....................................................................................</h3>
 <h3>....................................................................................</h3>
 <h3>................................................................... always day.</h3> 
<h2>IX. Answer the following question in 8 to 10 sentences : 4 x 1 = 4 </h2>
<h3>26. According to the poet Ruskin Bond, his grandmother was ‘unique’. Write a
paragraph to support this statement.</h3>
<h3>OR</h3>
 <h3>How does the poet discriminate Jazz player’s appearance with his artistic
character ?</h3>
<h2>Supplementary Reading</h2>
<h2>X. Answer the following questions in 2 - 3 sentences each : (2 × 2 = 4)</h2>
<h3>27. What had the police expected about the way of protest ?</h3>
<h3>OR</h3>
 <h3>Dicky Dolma says, “It is not a difficult decision for her to take up the
challenge of the lofty mountains.” Why does she say so ?</h3>
<h3>28. How was life for Hanif always ‘ekdam bindas’ ?</h3>
<h3>OR</h3>
 <h3>How did Dr. Ambedkar and Mahatma Gandhi try to wipe out caste
discrimination from India ?</h3>
<h2>Vocabulary</h2>
<h2>XI. 29. Combine the word in Column-A with its collocative word in
Column-B : 1</h2>
 <h3>Column-A: Rapid</h3>
 <h3>Column-B: [growth,progress,movement,speed]</h3>
 
<h3> 30. Fill in the blank with the correct form of the word given in brackets : </h3>
 <h3>Short stories are very ......................... ( interest ) for children to read.</h3>
<h3>31. Which one of the following words has only one syllable ? Write it : 1</h3>
<h3> Remain, Behind, Lawn, Arrange.</h3>
<h3>32. Nowadays, most of the children are very clever but a few are ................ .</h3>
 <h3>The opposite word to be filled in the blank for the underlined word</h3>
<h3>is .............. 1</h3>
<h2>SECTION – B</h2>
<h2>Reading</h2>
<h2>XII. Read the following passage and answer the questions that follow : 4 × 1 = 4</h2>
<h3> Once addressing a huge gathering Dayananda Saraswathi thundered, “Your
ancestors were not uncivilized men living in forests. They were great men who
enlightened the world. Your history is not a story of defeats. It is the story of the
conquerors of the world. Your Vedic scriptures are not the songs of cowherds.
They are immortal truths which shaped mighty souls like Sri Rama and Sri
Krishna. Arise, awake and be proud of your glorious history. Take inspiration
from it to mould the present. Shame upon your modern education which fills you
with contempt for your ancestors.”</h3>
<h4>33. What does Dayananda Saraswathi say about our ancestors ?</h4>
<h4>34. What is history according to Dayananda Saraswathi ?</h4>
<h4>35. What are the ‘Vedas’ ?</h4>
<h4>36. What does the speaker advise us to do ?</h4>
<h2>XIII. 37. Rearrange the jumbled words into a meaningful sentence : 1</h2>
 <h3>wonderful / a / place / it / what / ! / is.</h3>
 <h2>Read the following conversation and answer the questions that follow :</h2>
 <h3>Raju : What a wonderful pudding ! The best I’ve ever tasted.</h3>
 <h3>Manu : Thanks for complement. The recipe is my mom’s.</h3>
 <h3>Raju : Could you please give it to me ? I’d like to try it.</h3>
 <h3>Manu : Certainly don’t forget to call me when you try it for proof of the
pudding.</h3> 
 
<h3>38. Which word in the conversation means a set of instructions for cooking a
particular type of food ? 1</h3>
<h3>39. Why did Raju ask Manu the recipe ? 1</h3>

<h2>Writing</h2>
<h2>41. Given below is a profile of Dr. Ravi Shankar, a professor. Write a paragraph
using the clues given below : 4</h2>
 <h3>Age : 52 years</h3>
 <h3>Height and weight : 5·6 feet, 64 kgs</h3>
 <h3>Family : Two sons, Engineers</h3>
 <h3>Reason for his popularity : More helpful in the society, more
 friendly and engaged in social work</h3>
 <h3>Education : MA, Ph.D</h3>
 <h3>Awards : National award</h3>
 <h3>Hobbies : Gardening, helping poor students,
 writing books and reading books.</h3>
<h3>OR</h3>
 <h2>Write a paragraph, using the clues given below. You may add some more
points if necessary :</h2>
 <h3>In a village — a clever elephant — there a river nearby — used to go for
bath daily — it was passing by a tailor shop. The tailor — bananas daily.
One day not given bananas — pricked needle. Elephant — angry — came
with muddy water in its trunk — sprayed muddy water — tailor’s shop —
dirty. The tailor — repented.</h3>
<h3>42. Imagine that you are Manu / Manasa, Govt. High School, Channigepura.
Write a letter to your father requesting him to send you Rs. 5,000 to
provide food for 100 orphans on your birthday. 4</h3>
<h3>OR</h3>
<h3> Write a letter to your headmaster / headmistress, requesting him / her to
help your friend to pay the school fees as he / she is poor. </h3>

<h3>43. Write two paragraphs, on any one of the following topics : 4</h3>
 <h4>(a) Television</h4>
<h4> (b) Vanamahotsava</h4>
 <h4>(c) Water pollution.</h4>
<h2>Editing</h2>
<h2>44. The following paragraph has two errors. Edit the paragraph and rewrite it
in the answer-book. Clues are given. 2<h2>
 <h3>Impulsively, Baleshwar went and grabed the train’s red emergency chain
and pulled it down frantical.</h3>
 <h3>Clues :</h3>
 <h4>(a) Use correct spelling</h4>
 <h4>(b) Adverbial mistake to be corrected.</h4>
<h2>GRAMMAR ( Language Use )</h2>
<h2>45. Read the conversation and choose the language function of the underlined
sentence : 1</h2>
 <h3>Mom : Where are you going Ramya ?</h3>
 <h3>Ramya : School mom.</h3>
 <h3>Mom : Then, go with dad dear.</h3>
 <h3>Ramya : Yes mom.</h3>
<h4>(A) Order (B) Request</h4>
<h4>(C) Obey (D) Advice.</h4>
<h2>46. Read the conversation and rewrite into a reported speech for the
underlined sentences : 2</h2>
 <h3>Raghu : Good morning sir.</h3>
 <h3>Kiran : Good morning Raghu. Thank you.</h3>
 <h3>Raghu : How is your father, sir ?</h3>
<h3> Kiran : He is doing good but his age is 100 years.</h3>
 <h3>Raghu : Is it ? O my God ! How is he working ?</h3>
 <h3>Kiran : No matter, he is strong, he is helping others.</h3>
 <h3>Raghu asked Kiran .......................................................</h3>
 <h3>......................................................</h3>
 <h3>......................................................</h3>
 <h3>Kiran replied ..................................</h3>
 <h3>......................................................</h3>
 <h3>......................................................</h3>
 <h3>...................................................... .</h3>
<h2>47. Fill in the blanks with appropriate ‘preposition’ and ‘article’ : 2 x 1/2 = 1</h2>
 <h3>Kalpana earned her bachelor’s degree and moved ........................ the</h3>
<h3>United States. On ....................... very first day, at the University of Texas,</h3>
<h3>Kalpana met Jean Pierre Harrison.</h3>
<h2>48. Fill in the blanks choosing the right form of verbs given in brackets :
 2 × 1 = 2</h2>
 <h3>Rajanna is a good teacher. He ........................... ( complete ) his Physical</h3>
<h3>Education Training in S.L.N. College. Now, he ....................... ( be + work )</h3>
<h3>in a private high school in his home town.</h3> 
<h2>49. Read the conversation :</h2>
 <h3>Teacher : Why didn’t you come to school yesterday, Teja ?</h3>
 <h3>Teja : Sir, I went to Mysore with my dad.</h3>
 <h3>Teacher : Have you completed your homework ?</h3>
 <h3>Teja : Yes Sir, I have completed the homework.</h3>
 <h3>Teacher : What about others ?</h3>
 <h3>Teja : Sir, they have completed the homework.</h3>
 <h3>The passive form of the underlined sentence is</h3>
 <h4>(A) The homework has been completed by them</h4>
 <h4>(B) The homework is being completed by them</h4>
 <h4>(C) The homework is completed by them</h4>
 <h4>(D) The homework was completed by them. 1</h4>
<h2>50. Read the conversation and fill in blank choosing the correct ‘If Clause’
given below : 1</h2>
 <h3>Ramesh : Why can’t you come with me Ravi ?</h3>
 <h3>Ravi : No, I have some urgent work now.</h3>
<h3> Ramesh : May I know the correct reason Ravi ?</h3>
 <h3>Ravi : I don’t have vehicle to take my dad to the hospital,
 that’s it.</h3>
 <h3>Ramesh : Is it ? If you had told me earlier, I ......................
 a vehicle.</h3>
 <h4>(A) will arrange (B) would have arranged</h4>
 <h4>(C) would arrange (D) shall arrange.</h4>
<h3>51. Sheela doesn’t tolerate any mistake. 1</h3>
 <h3>The question tag to be used for the above is</h3>
 <h4>(A) Is she ? (B) Does she ?</h4>
 <h4>(C) Doesn’t she ? (D) Isn’t she ?</h4>
<h3>52. Combine the two sentences using the word ‘although’ : 1</h3>
 <h4>Prema is a short girl. She runs like a deer.</h4>
<h3>53. Fill in the blanks using the linking words given in brackets : 2 × 2
1 = 1</h3>
 <h4>Nisarga is a famous doctor. He doesn’t want to charge much ................. he</h4>
<h4>is very rich. He is helping poor .......................... doing social work.</h4>
<h4> ( and, so, that, as )</h4>
<h2>Reference Skill</h2>
<h3>54. Which sources of information would you refer to know the meaning of
difficult words ? 1</h3>
 <h3>Choose one of the following sources :</h3>
 <h4>Atlas, Dictionary, Encyclopedia, Grammar book.</h4>
<h3>55. Write it in the normal way : 1</h3>
 <h4>I n my friends r ready 2 hav T.</h4>
<h3>56. Arrange the following words in the order in which they are in dictionary :4 x 1/2 = 2</h3>
 <h4>fortune, favour, future, format. </h4>
