<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_link.css') }}"/>
</head>

<body>
<a href="{{url_for('final')}}"> <img class= "left" src="{{url_for('static', filename='img/left.png')}}"></a>
<center>
<h2>
<u>SOCIAL SCIENCE</u>
</h2>
<h2>
<u>HISTORY</u>
</h2>

<h3>
<a href="https://www.learninsta.com/mcq-questions-for-class-10-history-chapter-1/">
    Chapter 1 : The Rise of Nationalism in Europe
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-history-chapter-2/">
    Chapter 2 : The Nationalist Movement in Indo-China
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-history-chapter-3/">
	Chapter 3 : Nationalism in India
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-history-chapter-4/">
	Chapter 4 : The Making of Global World
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-history-chapter-5/">
    Chapter 5 : The Age of Industrialisation
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-history-chapter-6/">
	Chapter 6: Work, Life and Leisure	
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-history-chapter-7/">
	Chapter 7 : Print Culture and the Modern World 	
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-history-chapter-8/">
	Chapter 8 : Novels, Society and History 
</a><br>


</h3>


<h2>
<u>GEOGRAPHY</u>
</h2>



<h3>
<a href="https://www.learninsta.com/mcq-questions-for-class-10-geography-chapter-1/">
    Chapter 1 : Resources and Development
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-geography-chapter-2/">
    Chapter 2 : Forest and Wildlife Resources
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-geography-chapter-3/">
	Chapter 3 : Water Resources 
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-geography-chapter-4/">
	Chapter 4 : Agriculture
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-geography-chapter-5/">
    Chapter 5 : Minerals and Energy Resources
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-geography-chapter-6/">
	Chapter 6: Manufacturing Industries 	
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-geography-chapter-7/">
	Chapter 7 : Lifelines of National Economy	
</a><br>


</h3>


<h2>
<u>CIVICS</u>
</h2>



<h3>
<a href="https://www.learninsta.com/mcq-questions-for-class-10-civics-chapter-1/">
    Chapter 1 : Power Sharing
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-civics-chapter-2/">
    Chapter 2 : Federalism 
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-civics-chapter-3/">
	Chapter 3 : Democracy and Diversity  
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-civics-chapter-4/">
	Chapter 4 : Gender Religion and Caste
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-civics-chapter-5/">
    Chapter 5 : Popular Struggles and Movements
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-civics-chapter-6/">
	Chapter 6: Political Parties	
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-civics-chapter-7/">
	Chapter 7 : Outcomes of Democracy	
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-civics-chapter-8/">
	Chapter 8 : Challenges to Democracy
</a><br>

</h3>

<h2>
<u>ECONOMICS</u>
</h2>


<h3>
<a href="https://www.learninsta.com/mcq-questions-for-class-10-economics-chapter-1/">
    Chapter 1 : Development 
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-economics-chapter-2/">
    Chapter 2 : Sectors of Indian Economy
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-economics-chapter-3/">
	Chapter 3 : Money and Credit  
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-economics-chapter-4/">
	Chapter 4 : Globalisation and the Indian Economy 
</a><br>



<a href="https://www.learninsta.com/mcq-questions-for-class-10-economics-chapter-5/">
    Chapter 5 : Consumer Rights 
</a><br>


</h3>
</center>

</body>
</html>
