<!DOCTYPE html>
<html>
<head>

<title> PRACTICE QUESTIONS</title>
<body
     style="background-color:#2e2e2e;"
 >
 <center>
	<h1 style="color:#dcaac0;font-family:'poppins',cursive,sans-serif;">SUBJECTS</h1>
    
	<h2 style="color:#dcaac0; font-family:'poppins',cursive,sans-serif;" >SCIENCE</h2>
	
	
	<button style="color:grey;background-color:pink;font-family:'poppins',cursive,sans-serif;"type="button"><a href="{{url_for('scl2')}}">CLICK HERE</a></button>
	
	
	<h2 style="color:#dcaac0; font-family:'poppins',cursive,sans-serif;">SOCIAL SCIENCE</h2>
	<button  style="color:grey;background-color:pink;font-family:'poppins',cursive,sans-serif;"type="button"><a href="{{url_for('scl3')}}">CLICK HERE</a></button>
	
	<h2 style="color:#dcaac0;font-family:'poppins',cursive,sans-serif;">MATHS</h2>
	<button style="color:grey;background-color:pink;font-family:'poppins',cursive,sans-serif;"type="button"><a href="{{url_for('scl4')}}">CLICK HERE</a></button>
	
	<h2 style="color:#dcaac0; font-family:'poppins',cursive,sans-serif;">ENGLISH</h2>
	<button style="color:grey;background-color:pink;font-family:'poppins',cursive,sans-serif;" type="button"><a href="s{{url_for('scl5')}}">CLICK HERE</a></button>
</center>
</body>
</head>
</html>	












