<!DOCTYPE html>
<html>
<head>

<title> QUESTION PAPER</title>
</head>
<body>
	<h1>2017 QUESTION PAPER</h1>
	<h2>Choose the following (8 x 1 = 8)</h2>
<h3>1. If a polynomial p ( x ) = x^2 – 4 is divided by a linear polynomial ( x – 2 )
then the remainder is</h3>
<h4> (A) 2 (B) – 2</h4>
<h4> (C) 0 (D) – 8.</h4>
<h3>2. The sum and product of the roots of the equation 2x + 2x + 1 = 0 are
respectively,</h3>
<h4> (A) 2 and – 1</h4>
<h4> (B) – 2 and 1</h4>
<h4> (C) – 2 and – 1</h4>
<h4> (D) 1 and 2.</h4>
<h3>3. In a circle the angle between a radius and a tangent at non-centre end of
the radius is</h3>
<h4> (A) 90°</h4>
<h4> (B) 180°</h4>
<h4> (C) 45°</h4>
<h4> (D) 360°.</h4> 
<h3>4. The volume of a right circular cylinder whose circular base area is
154 sq.cm and height 10 cm is</h3>
<h4> (A) 15·40 c.c.</h4>
<h4> (B) 15400 c.c.</h4>
<h4> (C) 1·540 c.c.</h4>
<h4> (D) 1540 c.c.</h4>
<h3>5. If tan θ =1/sqroot of 3 and cos θ = sqroot of 3/2  then the value of sin θ is</h3>
<h4> (A)sqroot of 3</h4>
 <h4>(B) 1/2</h4>
<h4> (C)2/sqroot of 3</h4>
 <h4>(D) 3/2</h4>
<h3>6. ( 7 × 11 × 13 + 13 ) is a / an</h3>
<h4> (A) Composite number</h4>
<h4> (B) Prime number</h4>
<h4> (C) Irrational number</h4>
<h4> (D) Imaginary number.</h4> 
<h3>7. The sum of an infinite geometric series whose first term is a and common
ratio is r is given by</h3>
 <h4>(A)S∞ = 1/(a-r)</h4>
<h4> (B)S∞ = 1/(r-a)</h4>

<h4> (C)S∞ = a/(1-r)</h4>
<h4> (D)S∞ = (1-r)/a</h4>
<h3>8. Lateral surface area of the frustum of a cone is</h3>
 <h4>(A) π (r2 - r1)h</h4>
<h4> (B) π (r1 + r2)h</h4>
<h4> (C) π (r1 - r2)l</h4>
<h4> (D) π (r1 + r2)l</h4> 
 
<h2>II. Answer the following : 6 × 1 = 6</h2><h3>
<h3>9. If U = { 1, 2, 3, 4, 5, 6 } and A = { 2, 3, 4, 5 } then find A complement</h3>

<h3>10. Write the relation between standard deviation of a set of scores and its
variance.</h3>
<h3>11. In a sequence if Tn=n^2 + 4 then find T2 .</h3>
<h3>12. A fair coin is tossed once. Find the probability that head occurs.</h3>
<h3>13. State Pythagoras theorem.</h3>
<h3>14. Write the general form of a quadratic polynomial.</h3>
<h3>III. 15. Given A = { 1, 2, 3, 4 }, B = { 3, 4, 5, 6 } and C = { 6, 7 }. Verify that
( A intersection B ) intersection C = A intersection ( B intersection C ). 2</h3>
<h3> 16. Arithmetic mean between two numbers is 5 and Geometric mean between
them is 4. Find the Harmonic mean between the numbers. 2</h3>
<h3>OR</h3>
 <h3>In a harmonic progression third term and fifth terms are respectively
1 and 1/-5. Find the tenth term.</h3>
 <h3>17. Prove that 5 – sqroot of 3 is an irrational number. 2</h3>
 <h3>18. Find the value of n if np4=5(np3).</h3> 
 <h3>19. If A is an event in a random experiment such that P ( A ) : P ( A ) = 5 : 11,
then find P ( A ) and P ( A complement) . 2</h3>
 <h3>20. What are like surds and unlike surds ? Identify and write the set of like
surds in the following groups : 2</h3>
 <h4>a) { sqroot of (8 , 12 , 20 , 54 )}</h4>
<h4> b) {  sqroot of 50 , cuberoot of 54 , fourth root of 32}</h4>
<h4> c) { sqroot of(8 , 18 , 32 , 50) }.</h4>
<h3> 21. Rationalise the denominator and simplify : 2</h3>
<h3>(sqroot of 5 + sqroot of 3)/(sqroot of 5-sqroot of 3)</h3>
 <h3>22. A polynomial p ( x ) is divided by ( 2x – 1 ). The quotient and remainder
obtained are ( 7x^2 + x + 5) and 4 respectively. Find p ( x ). 2</h3>
<h3>OR</h3>
 <h3>Find the quotient and remainder using synthetic division.
 (3x^3 -2x^2 + 7x-5)/(x+3)</h3>
 <h3>23. Area of an equilateral triangle is given by A =(sqroot of 3 a^2)/4 where A is the area
and a is the side. Find the perimeter of the triangle if A = 16 sqroot of 3 sq.cm.
 2 </h3>
 <h3>24. Show that the roots of the equation x^2 – 2x + 3 = 0 are imaginary. 2</h3>
<h3> 25. In XYZ, P is any point on XY and PQ ⊥ XZ. If XP = 4 cm, XY = 16 cm
and XZ = 24 cm, find XQ. 2</h3>
 <h3>26. Show that (1-tan^2 A)/ (1 + tan^2 A)2</h3>
 <h3>27. Find the slope of the line joining the points ( 4, – 8 ) and ( 5, – 2 ). 2</h3>
<h3> 28. Find the co-ordinates of the mid-point of the line joining the points ( 2, 3 )
and ( 4, 7 ). 2</h3>
 <h3>29. Draw a plan of a level ground using the information given below :</h3>
 <h3>[ Scale : 20 metres = 1 cm ]</h3>
 <h3>To D ( in metres )</h3>
 <h3>150</h3>
<h3> 100   70 to C</h3>
<h3> 80 to E 80  </h3>
<h3> 30    40 to B</h3>
<h3> From A</h3>
<h3> 2 x 1 = 2</h3>

<h3> 30. Draw a circle of radius 3·5 cm and construct a chord of length 6 cm in it.
Measure and write the distance between the centre and the chord. 2</h3>
<h3>IV. 31. Everybody in a function shakes hand with everybody else. The total
number of handshakes are 45. Find the number of persons in the function.
 3</h3>
<h3>OR</h3>
 <h3>Show that the number of diagonals in a polygon of n sides is 
(n ( n − 3 ))/2</h3>
 <h3>32. Calculate the coefficient of variation ( C.V. ) of the following data : 3</h3>
<h3> 40, 36, 64, 48, 52.</h3>
<h3> 33. If two circles touch each other externally, prove that the centres and the
point of contact are collinear. 3</h3>
 <h3>34. In LAW, LAW = 90°, LNA = 90°, LW = 26 cm, LN = 6 cm and
AN = 8 cm. Calculate the length of WA. 3</h3>
<h3>OR</h3> 
 
 <h3>In Δ MGN, MP ⊥ GN. If MG = a units, MN = b units, GP = c units and
PN = d units, prove that ( a-b)/(c-d)=(c+d)/(a+b)</h3>
<h3> 35. The angle of elevation of the top of a flag post ( AB ) from a point ( C ) on a
horizontal ground is found to be 30°. On walking 6 m towards the post
at X, the angle of elevation is found to be 60° as shown in the figure. Find
the height of the flag post. 3</h3>
<h3>OR</h3>
 <h3>Prove that</h3>
<h3>sin(90-0(teeta))/cosec(90-0(teeta))-cot(90-0(teeta))=1+sin0(teeta)</h3>
<h3> 36. A toy is in the form of a cone mounted on a hemisphere as shown in the
figure. If the radius of each of these solids is 7/2 cm and height of the cone
is 5 cm, find the volume of the toy. 3</h3>
<h3>OR</h3>
<h3> A solid is composed of a cylinder with a hemisphere at one end and a cone
at other end as shown in the figure. If the radius of each of these solids is
7 cm and height of the cylinder is equal to slant height of the cone, find the
total surface area of the solid if slant height is 4 cm.</h3>
<h3>V. 37. Construct two circles of radii 4 cm and 2 cm whose centres are 8 cm apart.
Construct a transverse common tangent. Measure and write its length. 4</h3>
<h3> 38. State and prove Basic proportionality ( Thales ) theorem. 4</h3> 
 
 <h3>39. The third term of a geometric progression is square of its first term and the
fifth term of it is 64. Find the sum of the first six terms of the Geometric
Progression. 4</h3>
<h3>OR</h3>
<h3> The fourth term of an Arithmetic progression is 10 and the eleventh term of
it exceeds three times the fourth term by 1. Find the sum of the first
20 terms of the progression.</h3>
 <h3>40. Solve the quadratic equation x^2 – x – 2 = 0 graphically</h3>
</body>
</html>