<!DOCTYPE html>
<html>
<head>

<title> QUESTION PAPER</title>
</head>
<body>
	<h1>2017 question paper</h1>
	<h2>Choose the following (10 x 1 = 10)</h2>

	<h3>1. “Coal is a non-renewable source  of energy.” Because,</h3>
<h4> (A) coal is replenished soon in the nature</h4>
<h4> (B) coal is abundant in nature</h4>
<h4>(C) the reserves of coal are depleting at a fast rate and it is difficult to
replenish</h4>
<h4> (D) coal leaves residue when burnt.</h4>
<h3>2. The living component of xylem tissue is</h3>
<h4> (A) xylem vessel (B) xylem parenchyma</h4>
<h4> (C) xylem tracheid (D) xylem fibre.</h4>
<h3>3. Identify a property of amorphous silicon in the following.</h3>
<h4> (A) Does not burn in the air</h4>
 <h4>(B) Has dark grey colour</h4>
<h4> (C) Oxidizes at the surface level when heated in the air</h4>
<h4> (D) Less reactive.</h4>
<h3>4. A man who is standing at a distance of 850 m from a sound reflecting surface
claps loudly. If the velocity of the sound in air is 340 m/s, then the time taken
by the echo to reach him is</h3>
 <h4>(A) 5 s (B) 4 s</h4>
<h4> (C) 2·5 s (D) 3 s.</h4> 
 
<h3>5. If the stages of human evolution is written in the descending order according to
their cranial capacity, then the correct order obtained is</h3>
<h4> (A) Homo habilis, Homo erectus, Homo sapiens, Australopithecus</h4>
<h4> (B) Australopithecus, Homo habilis, Homo erectus, Homo sapiens</h4>
<h4> (C) Homo sapiens, Homo erectus, Australopithecus, Homo habilis</h4>
<h4> (D) Homo sapiens, Homo erectus, Homo habilis, Australopithecus.</h4>
<h3>6. Steam engine cannot be started instantaneously because,</h3>
<h4> (A) the efficiency of the engine is low</h4>
<h4> (B) steam should be produced by heating water</h4>
<h4> (C) the engine is bulky</h4>
<h4> (D) there is no spark plug.</h4>
<h3>7. The principle of working of a motor is</h3>
<h4> (A) there is a magnetic field around a current carrying conductor</h4>
<h4>(B) when a magnetic field linked with a conductor changes, an induced emf is
generated in the conductor</h4>
<h4>(C) the change of current in one coil, induces emf in a neighbouring coil</h4>
<h4>(D) a conductor carrying electrical current experiences mechanical force if kept
in a magnetic field.</h4>
<h3>8. Antheridium of pteridophytes can be compared to</h3>
<h4> (A) Stamen of angiosperms</h4>
<h4> (B) Megasporophyll of gymnosperms</h4>
<h4> (C) Carpel of angiosperms</h4>
<h4> (D) Archegonium of bryophytes. </h4>

<h3>9. The gas released when the sunlight breaks down chlorofluorocarbons is</h3>
<h4> (A) carbon dioxide (B) fluorine</h4>
<h4> (C) carbon monoxide (D) chlorine.</h4>
<h3>10. The group of compounds which dissociate partially in aqueous solutions is</h3>
<h4> (A) Hydrochloric acid, Nitric acid</h4>
<h4> (B) Carbonic acid, Phosphoric acid</h4>
<h4> (C) Sodium chloride, Acetic acid</h4>
<h4> (D) Copper sulphate, Sugar solution.</h4>
<h2>11. The processes related to organic compounds are given in Column-A and their
procedures are given in Column-B. Match them and write the answer along with
its letters : 4 × 1 = 4</h2>
<h3>Column - A</h3>
<h3>(A) Preparation of Methane gas </h3>
<h3>(B) Substitution reaction </h3>
<h3>(C) Hydrogenation</h3> 
<h3>(D) Saponification</h3> 
 <h3>Column - B</h3>
 <h3>i) Production of salts of fatty acids
 starting from oils or fats</h3>
<h3> (ii) Conversion of liquid oils into solid
saturated fats</h3>
<h3>(iii) Heating fused sodium acetate with
sodalime</h3>
<h3>(iv) Heating an aqueous solution of
ammonium cyanate</h3>
<h3>(v) Burning of methane in air</h3>
<h3>(vi) Heating ethanol in the presence of
acidified potassium permanganate</h3>
<h3>(vii) Exposing the mixture of methane
and chlorine to ultraviolet light.</h3> 

<h2>Answer the following questions. 7 × 1 = 7<h2>
<h3>12. Nowadays bio-diesel is used in transportation vehicles as an alternate to diesel.
Write two advantgaes of this measure.</h3>
<h3>13. Write the circuit symbol of p-n-p transistor.</h3>
<h3>14. Name the family and the order to which man belongs.</h3>
<h3>15. The schematic diagram indicating the transmission of electricity is given below :
 Name the devices to be used in the places indicated as ‘A’ and ‘B’.</h3>
<h3>16. How is silicon carbide prepared ? Write one of its uses.</h3>
<h3>17. In the manufacture of sugar, the container of the sugarcane juice is connected to
a vacuum pump. Why ?</h3>
<h3>18. A person is having the symptoms of thirst and frequent urination for a long time.
The blood capillaries in the retina of this person have ruptured causing blood
entering into the vitreous humour making it opaque. Name the eye disorder
found in this person. </h3>

<h2>Answer the following questions. 16 × 2 = 32</h2>
<h3>19. “Manufacture of ethyl alcohol from molassess is a good example for
fermentation.” Give reasons.</h3>
<h3>20. In animal breeding, write the two differences between outbreeding and
hybridization.</h3>
<h3>21. What is Doppler effect ? Mention the two applications of Doppler effect.</h3>
<h3>OR</h3>
<h3> List the uses of ultrasonic waves due to their high frequency.</h3>
<h3>22. Draw the diagram of AC dynamo and label the following parts :</h3>
<h4> (i) Armature</h4>
<h4> (ii) Brushes.</h4>
<h3>23. Observe the table in which the sizes of different DNA fragments are given and
answer the questions :</h3>
<h3>DNA fragments- A B C</h3>
<h3>Size ( in base pairs )- 700 1500 3000</h3>
<h3> (a) In the process of separating DNA fragments, which fragment moves faster ?</h3>
<h3> (b) Explain the process of separating the DNA fragments.</h3>
<h3>24. Draw the diagram of the apparatus used in electroplating and label the following
part :</h3>
 <h4>The substance to be electroplated. </h4>

<h3>25. What is monohybrid cross ? Write the genotypic ratio and phenotypic ratio of
Mendel’s monohybrid cross.</h3>
<h3>OR</h3>
<h3> Carl Correns conducted hybridization experiment using Four O’ Clock plants.
Draw the checker board of 2 F generation for the incomplete dominance
phenomenon, when he crossed a homozygous plant having red flowers ( RR )
with another homozygous plant with white flowers ( WW ). Mention its genotypic
ratio.</h3>
<h3>26. Draw the diagram of a dicot plant and label the following parts :</h3>
<h4> (i) Flower</h4>
<h4> (ii) Root.</h4>
<h3>27. State Boyle’s law. Write the mathematical form of Boyle’s law. Give an example
for this law.</h3>
<h3>OR</h3>
<h3> State Graham’s law of diffusion. Write the mathematical form of Graham’s law of
diffusion. Give an example for this law.</h3>
<h3>28. Observe the following figure. Which property of diode is indicated here ? Explain
that property.</h3> 

<h3>29. How is greenhouse effect caused ? Explain. Name the greenhouse gases.</h3>
<h3>30. Draw the diagram of an electrolytic cell used in the purification of copper and
label the electrode having impure copper.</h3>
<h3>31. Among the following, identify the wrong statements with respect to a whale and
write them correctly.<h3>
 <h4>(i) A pair of lungs are respiratory organs</h4>
<h4> (ii) They do not have mammary glands</h4>
<h4> (iii) Heart is four chambered</h4>
<h4> (iv) They are oviparous.</h4>
<h3>OR</h3>
<h3> The organisms, (i) Amphioxus, (ii) Balanoglossus, belong to which sub-phyla of
Chordata and why ?</h3>
<h3>32. The molecular formula of the first member of a certain group of organic
compounds is CH 2 O ( HCHO ). Determine the name and the molecular formula
of the third member of this group if the members of this group are in homologous
series. What is the general name for this group of organic compounds ?</h3>
<h3>33. How is safety glass manufactured ? Mention the use of safety glass.</h3>
<h3>OR</h3>
<h3> Name the types of paper having the following properties and mention one use of
each.</h3>
<h4> (i) Porous and semipermeable</h4>
<h4> (ii) Non-sticking property. </h4>
 
<h3>34. The wavelength of a wave is 3 m. If the velocity of the wave is 330 ms − 1, then
find the frequency of that wave. Calculate the time period if the frequency of that
wave is reduced to half of its value.</h3>
<h2>Answer the following questions. 5 × 3 = 15</h2>
<h3>35. Draw the diagram of a nuclear power reactor and label the following parts.</h3>
<h4> (i) The part that confines neutrons to the core</h4>
<h4> (ii) Radiation shield.</h4>
<h3>36. Explain the Haversian system of bone tissue.</h3>
<h3>OR </h3>
<h3> Explain the structure of cartilage tissue.</h3>
<h3>37. Explain intake stroke and compression stroke in the working of a petrol engine.</h3>
<h3>OR</h3>
<h3> Explain the working of a diesel engine.</h3>
<h3>38. Observe this figure and answer the questions given below :</h3>
<h4> (i) Name the part labelled as ‘1’.</h4>
<h4> (ii) Name the heredity material of this virus.</h4>
<h4>(iii) ‘The person infected by this virus is attacked by various diseases.’</h4>
<h3>Explain.</h3> 

<h3>39. The atomic numbers of five elements A, B, C, D and E are 6, 8, 3, 7 and 9
respectively.</h3>
<h4>(i) Which is the element having the highest electropositivity among these
elements ? Why ?</h4>
<h4>(ii) Which is the element having the least metallic character among these
elements ? Why ?</h4>
<h4>(iii) What is your conclusion about the relationship between metallic character
and electropositivity of an element ?</h4>
<h2>Answer the following questions. 3 × 4 = 12</h2>
<h3>40. (a) Explain the red giant stage of a star. Which is the factor that decides the
next stage of a star after its red giant stage ?</h3>
<h3> (b) Define escape velocity with respect to earth. What do R and g indicate in
the mathematical formula of escape velocity ?</h3>
<h3>OR</h3>
<h3> (a) Explain the supernova stage of a star. Mention the main feature of a black
hole.</h3>
<h3> (b) State the law of conservation of momentum. “Propellants are necessary for
the working of rockets.” Why ? </h3>
 <h3>41. (a) Observe the following chemical equations :</h3>
 <h3>(i) Al2O3 + 2NaOH → 2NaAlO 2 + H 2 O</h3>
<h3> (ii) Al 2 O 3 + 6HCl → 2AlCl 3 + 3H 2 O.</h3>
<h3> What is the conclusion that you take about the nature of aluminium oxide
with the help of these equations. Give reason for your conclusion.</h3>
<h3> (b) Molten cryolite is mixed with molten alumina in the extraction of
aluminium by electrolysis. Why ? Name the substances that are used as
anode and cathode in this method.</h3>
<h3>42. Draw the diagram showing the internal structure of human ear and label the
following parts :</h3>
<h4> (i) Malleus</h4>
<h4> (ii) Auditory nerve.</h4>
</body>
</html> 