<!DOCTYPE html>
<html>
<head>

<title> QUESTION PAPER</title>
</head>
<body>
	
	<h1> 2016 question paper</h1>
	<h2> Choose the following                    ( 10 x 1 = 10 ) </h2>
	<h3>1.In Fleming's right hand rule middle finger indicates the direction of </h3>
	<h4>a)magnetic field  </h4>   
	<h4> b)induced electric current</h4>
	<h4>c)mechanical energy</h4>  
	<h4> d)motion of the conductor</h4>
	<h3>2.Idenify one of the uses of solar heater in the following</h3>
	<h4>a)Conversion of solar energy into electrical energy</h4>
	<h4>b)providing energy for artificial satellites</h4>
	<h4>c)desalination of marine water</h4>
	<h4>d)using in automatic streetlights</h4>
	<h3>3.Significant reduction in the platelet count of human blood is the main symptom of this disease</h3>
	<h4>a)Chikungunya </h4>
	<h4>b)Dengue</h4>
	<h4>c)Bird flu</h4>
	<h4>d)Gonorrhea</h4>
	<h3>4.Si + C -> SiC. This chemical reaction is an example for</h3>
	<h4>a)Exothermic reaction</h4>
	<h4>b)endothermic reaction</h4>
	<h4>c)dissociation reaction</h4>
	<h4>d)displacement reaction</h4>
	<h3>5.No image is formed on the blind spot of human eye because</h3>
	<h4>a)Cones are absent</h4>
	<h4>b)Rods are absent</h4>
	<h4>c)Rods and Cones are absent</h4>
	<h4>d)optic nerve is absent</h4>
	<h3>6.A domestic electrical appliance requires alternating current of 15 V.If 220 V of alternating current is supplied to the house, then the device that helps in the functioning of that electrical appliance is</h3>
	<h4>a)Induction coil</h4>
	<h4>step-up transformer</h4>
	<h4>AC dynamo</h4>
	<h4>step-down transformer</h4>
	<h3>7.While doing the experiment of coppervoltmeter, in which of the following cases, more amount  of copper gets deposited at cathode?</h3>
	<h4>a)2 amperes of electric current is passed for 30 minutes</h4>
	<h4>b)4 amperes of electric current is passed for 20 minutes</h4>
	<h4>c)0.5 amperes of electric current is passed  for 80 minutes </h4>
	<h4>d)1.5 amperes of electric current is passed for 30 minutes</h4>
	<h3>8.Identify the correct complementary base pairing among the following</h3>
	<h4>a)Adenine-Thymine and Guanine-Cytosine</h4>
	<h4>b)Adenine-Guanine and Thymine-Cytosine</h4>
	<h4>c)Adenine-Cytosine and Thymine-Guanine</h4>
	<h4>d)Guanine-Adenine and Cytosine-Adenine</h4>
	<h3>9.Find out the most efficient engine in the following</h3>
	<h4>a)an engine converts 80 KJ of heat energy into 20 KJ of work</h4>
	<h4>b)an engine converts 50 KJ of heat energy into 15 KJ of work</h4>
	<h4>c)an engine converts 30 KJ of heat energy into 6 KJ of work</h4>
	<h4>d)an engine converts 60 KJ of heat energy into 24 KJ of work</h4>
	<h3>10.Haemoglobin levels in the blood  samples of two persons A and B are found to be 9 gm/dL  and 13 gm/dL respectively. Which statement is true with respect to the amount of oxygen supply in their body?</h3>
	<h4>a)More in person B than in person A</h4>
	<h4>b)More in person A than in person B</h4>
	<h4>c)equal in person A and  person B</h4>
	<h4>d)No correlation between oxygen supply and the level of haemoglobin</h4>
	<h2>Answer the following (7 x 1 = 7)</h2>
	<h3>12.Write any two advantages of bio energy</h3>
	<h3>13.What is red shift?</h3>
	<h3>14.Name the two important non-metallic oxides which cause acid rain</h3>
	<h3>15.Mention the properties of silica due to which it is used as sand bath in laboratory</h3>
	<h3>16.State the modern periodic  law </h3>
	<h3>17.Draw  the  circuit symbol of n-p-n transistor</h3>
	<h3>18.Sclerenchyma fibres are used in coir industries to make gunny bags and ropes.Give scientific reason</h3>
	<h2>Answer the following (26 x 2 = 52)
	<h3>19.Draw the diagram of a DC dynamo and label the following parts.
		a)Split rings  b)Armature coil
	<h3>20.What is annealing of glass?Name the colour obtained when 1)Ferric compounds, 2)Cobalt compounds are added to the mixture of molten glass</h3>
	<h3>OR</h3>
	<h3>What is pulping? How is an uncoated paper converted into coated paper?</h3> 
	<h3>21.Draw the diagram of the apparatus used in electroplating and label the following parts</h3>
	<h3>a)Electrolyte b)Anode</h3>
	<h3>22.Lymph plays an important role in protecting immune system of the body. Justify this statement</h3>
	<h3>OR</h3>
	<h3>a)How is dermal tissue adapted to prevent excessive transpiration in plants?</h3>
	<h3>b)Why do leave of lotus plant float on water?</h3>
	<h3>23.Draw the diagram of blast furnace used in the extraction of iron</h3>
	<h3>24.Differentiate between Caucasoid man and Mongoloid man based on their physical features</h3>
	<h3>25.What is forward biasing and reverse biasing of a diode?</h3>
	<h3>OR</h3>
	<h3>What are extrinsic semiconductors? Name the two types of extrinsic semiconductors</h3>
	<h3>26.Sodium(Na), Magnesium(Mg), Aluminium(Al) and Silicon(Si) are arranged in the decreasing order of their atomic size. Which element has the highest ionisation energy among them ? Justify your answer scientifically</h3>
	</h3>27.Draw the diagram showing the structure of HIV</h3>
	<h3>28.The densities of 4 gases at standard temperature and pressure are given:</h3>
	<h3> 1)Methane - 0.72 g/L</h3> 
	<h3> 2)Ammonia - 0.77 g/L</h3>
	<h3> 3)Helium - 0.18 g/L</h3>
	<h3> 4)Neon  -  0.90 g/L</h3>
	<h3>Among these gases which gas diffuses very fast ? State the law that helps you to take the decision</h3>
	<h3>29. Hydroponic and  aeroponic methods are gaining significance in space research organisations. Give two reasons for this</h3>
	<h3>OR</h3>
	<h3>Urban people should be encouraged to take up the practice of roof-top
gardening. Justify.</h3>
<h3>30. What are ultrasonic waves ? Write any two uses of ultrasonic waves in the
field of medicine.</h3>

<h3>OR</h3>
<h3>What is an echo ? Name the two devices which work on the principle of
echo of ultrasonic waves.</h3>
<h3>31. Hydroelectric power plants are more ecofriendly than thermal power
plants. Justify this statement<h3>
	<h3>32. The general formula of a group of organic compounds is Cn H2n+1 OH.
Write the molecular formula of first two members of this group. Examine
whether these two compounds are in homologous series, based on their
molecular formula.</h3>
<h3>34. A student catches small aquatic creatures swimming in a pond and keeps
them in his aquarium assuming them to be fishes. After a few days he
observes that four limbs are developed in those creatures. Then,</h3>
<h3>(i) to which class of vertebrates do you include those aquatic creatures ?</h3>
<h3>(ii) name the process that has caused development of four limbs in them.</h3>
<h3>35. Write the two differences between petrol engine and diesel engine.</h3>
<h3>36. Write the structural formula of normal butane and isobutane.</h3>
<h3>37. Draw the diagram of a dicot plant.</h3>
<h3>38. Name the three types of galaxies. What is the name of the galaxy to which
our solar system belongs ?</h3>
<h3>39. Write the ill-effects of noise pollution on human health.</h3>
<h3>40. State Faraday’s laws of electromagnetic induction.</h3>
<h3>41. How is diabetes mellitus caused ? Mention the two important symptoms of
this disease.</h3>

<h3>42. Write the two advantages of hydrogenation of oils.</h3>
<h3>43. Name the components of phloem tissue.</h3>
<h3>44. The atomic number of calcium is 20. Find out to which period and block
calcium belongs in the modern periodic table.</h3>
<h2>Answer the following questions :( 5 x 3 = 15)</h2>
<h3>45. Draw the diagram of a nuclear power plant and label the following parts.</h3>
<h3>(a) Control rods (b) Radiation shield.</h3>
<h3>46. Name the steps in the manufacture of common sugar from sugarcane and
explain the first step.</h3>
<h3>OR</h3>
<h3>(a) What is fermentation ? Give one example.</h3>
<h3>(b) Write the balanced chemical equations of the reactions taking place
in the manufacture of ethyl alcohol from sugar.</h3>
<h3>47. (a) Bryophytes are used in pots. Why ?</h3>
<h3>(b) Explain alternation of generations in Bryophytes.</h3>
<h3>48. (a) Explain the expansion stroke of a petrol engine.</h3>
<h3>(b) There is no spark plug in diesel engine. Why ?</h3>
<h3>49. What is bio-technology ? List any two advantages and two limitations of
biotechnology.</h3>
<h3>OR</h3>
<h3>(a) Why did Mendel choose pea plants for his experiments ? Give any
four reasons.</h3>
<h3>(b) State Mendel’s law of independent assortment.</h3>
<h2>Answer the following questions : (3 x 4 = 12)</h2>
<h3>50. (a) Which stage is attained by the star after the steady state ? Explain
that stage</h3>
<h3>(b) State Hubble’s law.</h3>
<h3>(c) A satellite is to be launched from the surface of the earth. Name the
factors on which the escape velocity of the satellite depends.</h3>
<h3>OR</h3>
<h3>(a) “Multistage rockets reduce the fuel consumption.” How ? Explain.</h3>
<h3>(b) Explain how a neutron star is formed.</h3>
<h3>(c) In which stage of the star, does nuclear fusion reaction begin ?</h3>
<h3>51. Draw the diagram showing the internal structure of human ear and label
the following parts :</h3>
<h3>(a) Organ of Corti (b) Auditory nerve.</h3>
<h3>52. (a) 2Mg + O2->2MgO</h3>
<h3>In this reaction, explain the experiment that you conduct to decide
the product as a basic oxide.</h3>
<h3>(b) Name the method of concentration of Haematite ore and explain the
method.</h3>


</body>
</html>