<!DOCTYPE html>
<html>
<head>

<title> QUESTION PAPER</title>
</head>
<body>
	<h1>2016 QUESTION PAPER</h1>
	<h2>Choose the following (10 x 1 = 10)</h2>
<h3>1. The Government of India Act of 1935 is considered as an important
document, because it<h3>
<h4>(A) introduced bicameral governments in provinces</h4>
<h4>(B) appointed Board of control</h4>
<h4>(C) formed separate electoral constituencies based on religion</h4>
<h4>(D) led to the creation of a federal structure in the country.</h4>
<h3>2. In Group-A list of social reformers and in Group-B their works are
given. Identify the group that matches.</h3>
<h3>Group-A </h3>
<h4>(a) Rammohan Roy</h4> 
<h4>(b) Dayanand Saraswati</h4> 
<h4>(c) Jyotiba Phule</h4> 
<h4>(d) Annie Besant</h4> 
<h3>Group-B</h3>
<h4>(i) Ghulamgiri</h4>
<h4>(ii) Samvada Kaumudi</h4>
<h4>(iii)New India</h4>
<h4>(iv)Satyartha Prakasha</h4>
<h3>a b c d</h3>
<h4>(A) i iii ii iv</h4>
<h4>(B) ii iv i iii</h4>
<h4>(C) iii ii iv i</h4>
<h4>(D) iv i iii ii.</h4>
<h3>3. The programme implemented by Government of Karnataka for the
development of rural women is</h3>
<h4>(A) Lok Ayukta (B) Stree Shakti</h4>
<h4>(C) Sakshara Bharat (D) Family planning programme.</h4>
<h3>4. December 10th of 1948 is an important day in the history of UNO,
because on that day</h3>
<h4>(A) Human Rights were declared</h4>
<h4>(B) UNO was established</h4>
<h4>(C) Disarmament was achieved</h4>
<h4>(D) Racial discrimination was ended.</h4>
<h3>5. Article 24 of our constitution has a great significance, because it
prohibits</h3>
<h4>(A) Employing children for work</h4>
<h4>(B) Untouchability</h4>
<h4>(C) Dowry</h4>
<h4>(D) Corruption.</h4>
<h3>6. The exact matching of the marked River Valley projects is</h3>
<h4>(A) 1 — Nagarjuna Sagar, 2 — Bhakra Nangal, 3 — Kosi</h4>
<h4>(B) 1 — Bhakra Nangal, 2 — Kosi, 3 — Nagarjuna Sagar</h4>
<h4>(C) 1 — Kosi, 2 — Nagarjuna Sagar, 3 — Bhakra Nangal</h4>
<h4>(D) 1 — Nagarjuna Sagar, 2 — Kosi, 3 — Bhakra Nangal.</h4>
<h3>7. Coastal erosion is more severe along the coast of the state</h3>
<h4>(A) Kerala (B) Tamil Nadu</h4>
<h4>(C) Orissa (D) West Bengal.</h4>
<h3>8. Father of Economic Planning in India is<h3>
<h4>(A) Dr. M.S. Swaminathan (B) Dr. Norman Borlaug</h4>
<h4>(C) Sir M. Vishveswaraiah (D) Rammohan Roy.</h4>
<h3>9. Green Revolution indicates</h3>
<h4>(A) the increase in the production of foodgrains</h4>
<h4>(B) the increase in the production of fish</h4>
<h4>(C) the increase in the production of milk</h4>
<h4>(D) the increase in the production of meat.</h4>
<h3>10. The Chairman of Wipro Technologies is</h3>
<h4>(A) Ekta Kapoor (B) Dhirubhai Ambani</h4>
<h4>(C) Naresh Goyal (D) Azim Premji.</h4>
<h2>II. Answer the following questions in a sentence each : 14 x 1 = 14</h2>
<h3>11. Indians had given much importance to folk history. Why ?</h3>
<h3>12. Why did Swami Vivekananda establish Ramakrishna Mission ?</h3>
<h3>13. Russians rose in rebellion in 1905 against the Tsars. Why ?</h3>
<h3>14. How does racial discrimination adversely affect world peace and
peaceful co-existence ?</h3>
<h3>15. Who fought against the racial discrimination in Africa ?</h3>
<h3>16. Why was the Equal Wages Act passed ?</h3>
<h3>17. Why was the „Rehabilitation Welfare Fund of Child Labourers‟
launched ?</h3>
<h3>18. In North India, temperature will be high during summer season.
Why ?</h3>
<h3>19. How can be fallow land utilized for agriculture ?</h3>
<h3>20. Indian farmers sow seeds in the month of June or July and get yields
in October. Why ?</h3>
<h3>21. What is the cause for landslide in mining area ?</h3>
<h3>22. Who presents the Central Government budget in the Lok Sabha ?</h3>
<h3>23. Which bank is called as „Bankers‟ Bank‟ ?</h3>
<h3>24. Why were the District Industrial Centres established ?</h3>
<h2>III. Answer the following questions in two sentences each : 15 × 2 = 30</h2>
<h3>25. “Scientific developments led to sea voyages.” Justify this statement.</h3>
<h3>26. Which are the areas of „Hyderabad Karnataka‟ ?</h3>
<h3>27. How was Goa liberated from the Portuguese ?</h3>
<h3>OR</h3>
<h3>How did India deal with the problem of refugees ?</h3>
<h3>28. „Nazi ideology destroyed Germany.‟ Justify.</h3>
<h3>29. Communalism is harmful to Nation‟s progress. How ?</h3>
<h3>30. IMF plays an important role in solving the economic problems of the
world. Justify this statement.</h3>
<h3>31. What is self-help group ?</h3>
<h3>32. The peninsular plateau of India has a great economic significance.
Justify.</h3>
<h3>33. How can we prevent soil erosion ?</h3>
<h3>34. Mention the differences between Evergreen forests and Desert forests.</h3>
<h3>35. Today, it is essential to reduce the use of conventional sources of
energy. Why ?</h3>
<h3>36. Mention the importance of communication.</h3>
<h3>37. Mention the measures for controlling migration of villagers towards
cities.</h3>
<h3>38. Per capita income cannot be a true measure of development. Why ?</h3>
<h3>39. Globalisation has led to environmental degradation. How ?</h3>
<h2>IV. Answer the following questions in six sentences each : 6 x 3 = 18</h2>
<h3>40. Explain the political and economic causes for the revolt of 1857.</h3>
<h3>OR</h3>
<h3>Mention the reforms brought about by the British in the field of
Education.</h3>
<h3>41. Mention the factors that influenced the formation of our foreign
policy.</h3>
<h3>OR</h3>
<h3>Explain India‟s relationship with Russia.</h3>
<h3>42. Explain the constitutional and legal measures undertaken to eradicate
untouchability.</h3>
<h3>OR</h3>
<h3>Mention the measures for removal of unemployment.</h3>
<h3>43. Which are the major ports of India ?</h3>
<h3>OR</h3>
<h3>What are the factors influencing the location of an industry ?</h3>
<h3>44. Explain briefly the significance of rural development.</h3>
<h3>OR</h3>
<h3>Mention the aspects of non-tax revenue of the central government.</h3>
<h3>45. Mention the advantages of opening a bank account.</h3>
<h3>OR</h3>
<h3>Explain the importance of life insurance.</h3>
<h2>V. Answer the following question in about eight sentences : 4</h2>
<h3>46. Give an account of the contributions of Dr. B. R. Ambedkar.</h3>
<h2>VI. 47. Draw an outline map of India and mark the following : 1 + 3 = 4</h2>
<h3>a) 82 1/2 degree East longitude</h3>
<h3>b) River Narmada</h3>
<h3>c) Coromandel Coast.</h3>
<h2>Alternative Question for Blind Candidates only : (In lieu of Q. No. 47)</h2>
<h3>What are the uses of Himalayas on the life of the people of India ? 4</h3>
</body>
</html>