<!DOCTYPE html>
<html>
<head>

<title> QUESTION PAPER</title>
</head>
<body>
	<h1>2017 QUESTION PAPER</h1>
	<h2>Choose the following (10 x 1=10)</h2>
<h3>1. This is one of the conventional power resources.</h3>
 <h4>(A) coal (B) solar energy</h4>
<h4> (C) wind energy (D) tidal energy.</h4>
<h3>2. The raw material used in the extraction of Aluminium is</h3>
<h4> (A) iron ore (B) manganese ore</h4>
<h4> (C) mica (D) bauxite.</h4>
<h3>3. The first country to introduce the family planning in the world is</h3>
<h4> (A) Sri Lanka (B) China</h4>
<h4> (C) India (D) Bangladesh.</h4>
<h3>4. The system in which the farmers used to pay the land revenue
directly to the British government is</h3>
<h4> (A) Ryotwari (B) Mahalwari</h4>
<h4> (C) Zamindari (D) Jagirdari.</h4> 
 <h3>5. The highest financial bank for agriculture is
 <h4>(A) NABARD (B) Co-operative banks</h4>
<h4> (C) State Bank of India (D) Land development bank.</h4>
<h3>6. The first railway track in India was laid between</h3>
<h4> (A) Bangalore to Madras (B) Kolkata to Raniganj</h4>
<h4> (C) Bombay to Thane (D) Madras to Arakkonam.</h4>
<h3>7. Quickest means of transportation during natural calamities is</h3>
<h4> (A) Road transport (B) Railways</h4>
<h4> (C) Water transport (D) Air transport.</h4>
<h3>8. The headquarters of the Reserve Bank of India is at</h3>
<h4> (A) Ahmadabad (B) Bangalore</h4>
<h4> (C) Mumbai (D) Delhi.</h4>
<h3>9. The highest import of India is</h3>
<h4> (A) Electronic goods (B) Silver</h4>
<h4> (C) Machinery (D) Petroleum.</h4> 
<h3>10. ‘‘Industrialise or perish.’’ This statement was said by</h3>
<h4> (A) Mahatma Gandhi</h4>
<h4> (B) Sardar Patel</h4>
<h4> (C) Sir M. Vishweshwaraiah</h4>
<h4> (D) Jawaharlal Nehru.</h4>
<h2>II. Answer the following questions in a word or a sentence each : 14 × 1 = 14</h2>
<h3>11. What is economic development ?</h3>
<h3>12. Why was the Human Development index formed ?</h3>
<h3>13. Which is the state that produces largest quantity of gold in India ?</h3>
<h3>14. What is density of population ?</h3>
<h3>15. What is irrigation ?</h3>
<h3>16. Define Agricultural finance.</h3>
<h3>17. Industrial estates are established in India. Why ?</h3>
<h3>18. Name any two national level labour organisations.</h3>
<h3>19. Who is a labourer ?</h3>
<h3>20. What is poverty ?</h3>
<h3>21. Who constructs the National Highways in India ?</h3>
<h3>22. When was Reserve Bank of India established ?</h3>
<h3>23. What is trade ?</h3>
<h3>24. Name the different types of coal.</h3>
<h2>III. Answer the following questions in three or four sentences each :
 15 × 2 = 30</h2>
<h3>25. What are the characteristics of developed countries ?</h3>
<h3>26. What is the importance of natural resources in economic
development ?</h3>
<h3>27. What are the reasons for decrease in the death rate in India ?</h3>
<h3>28. What are the different types of irrigation ?</h3>
<h3>29. How do money lenders exploit the farmers ?</h3>
<h3>30. What are the types of agricultural finance ?</h3>
<h3>31. List out the problems of small scale industries.</h3>
<h3>32. Mention the characteristics of Industrial labourers.</h3>
<h3>33. Which are the main objectives of labour organisations ?</h3>
<h3>34. How has poverty been defined by Suresh Tendulkar ?</h3>
<h3>35. Name the governmental programmes introduced for the poor urban
population.</h3> 
<h3>36. What is the role of transport in economic development ?</h3>
<h3>37. Which are the types of basic necessities ?</h3>
<h3>38. Name the major publications of Reserve Bank of India.</h3>
<h3>39. List out the main exports of India.</h3>
<h2>IV. Answer the following questions in five to six sentences each : 6 × 3 = 18</h2>
<h3>40. Mention the features of economy of underdeveloped countries.</h3>
<h3>OR</h3>
<h3> Mention the economic features of developing countries.</h3>
<h3>41. Which are the advantages of Green Revolution ?</h3>
<h3>OR</h3>
<h3> Which are the advantages of drip irrigation ?</h3>
<h3>42. Write about the social and economic status of the agricultural
labourers.</h3>
<h3>OR</h3>
<h3> Mention the problems of industrial labourers.</h3>
<h3>43. What are the main causes for poverty ?</h3>
<h3>OR</h3>
<h3> What are the measures implemented by the government to
eradicate poverty ?</h3> 
<h3>44. List out the functions of Reserve Bank of India.</h3>
<h3>OR</h3>
<h3> List out the training institutes of Reserve Bank of India.</h3>
<h3>45. Differentiate between internal and external trade.</h3>
<h3>OR</h3>
<h3> How is the international trade beneficial to a country ?</h3>
<h2>V. Answer the following questions in eight to ten sentences each : 2 × 4 = 8</h2>
<h3>46. Mention the factors which influence on the density of population.</h3>
<h3>47. Write the importance of industries in the economic development of
India.</h3>
</body>
</html> 