
<!DOCTYPE html>
<html>
<head>
	<title>TASK MANAGER</title>
	<link rel="stylesheet" type="text/css" href="CC:\Users\HP\Desktop\WEBPAGE\CSS">
</head>
<body style="background-color: #2e2e2e;">
	<h1 style="color: #dcaac0; font-family: 'poppins',cursive,sans-serif; text-align: center;"> TASK MANAGER</h1>
​
	<iframe style="position: fixed; padding:0px 0px 0px 1000px; align-items: center;
" width="500" height="600" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/task_manager"></iframe>
<img src="{{url_for('static', filename='img/back.svg')}}" style="position: fixed; padding: 100px 500px 0px 130px">
	
</body>
</html>